// Element Overrides
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: $light-gray;
  font-family: $roboto;
  color: $dark-gray;
}

button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}