// User List
.users {
  padding: 10px 0;
}


// User Card
.user__card {
  background-color: $white;

  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.user__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.user__top__info {
  display: flex;
}

.user__text {
  align-self: center;
}

.user__photo {
  align-self: center;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.user__name {
  color: $salmon;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}

.user__location {
  font-size: 12px;
  font-weight: 300;
}


// Accordion
.user__accordion__button {
  width: 60px;
  margin-right: -25px;

  &:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.user__accordion {
  display: flex;
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  @include gradient;
  color: $white;
  text-align: center;
  width: calc(100% - 20px);
  margin: 0 auto;
  transition: 0.5s ease-in-out;
}

.user__accordion__arrow {
  transition: 0.5s ease-in-out;
}

.user__contact {
  padding: 20px 0;
  font-weight: 300;
  flex: 0 0 50%;
}

.user__contact--phone {
  border-right: 1px solid rgba($black, 0.1);
}

.user__contact--email {
  overflow: hidden;
  white-space: nowrap;
}

.user__label {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: default;
}

.user__data {
  margin: 0 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user__data--email {
  &:focus, &:hover, &:active {
    overflow: visible;
    white-space: initial;
    word-break: break-all;
  }
}


// Accordion open
.user__card--open .user__top {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.30);
}

.user__card--open .user__accordion__arrow {
  transform: rotate(180deg);
}

.user__card--open .user__accordion {
  max-height: 100px;
}